.card{
    position: absolute;
    height: 120px;
    width: auto;
    z-index: 32000;
}

.card-body{
    border-left: 5px solid blue;
    z-index: 21001;
}

input{
    border: none;
    outline: none;
}

.min{
    height: 30px;
    width: 30px;
    border: 1px solid blue;
    z-index: 21000;
    transform: skew(15deg);
    border-radius: 3px;
    box-shadow: 2px 4px 8px rgb(150, 150, 150);
}

.min > .card-body {
    display: none;
}

input:focus{
    outline: none;
    border: none;
}