#main {
    height: 100%;
    width: 100%;
    z-index: 40000;
    position: relative;
}

._vstickynotecard{
    position: absolute;
    height: 120px;
    width: auto;
    background-color: #fff;
    padding: 15px;
}

._vstickynotecard-body{
    border-left: 5px solid blue;
    height: 100%;
}

input{
    border: none;
    outline: none;
}

.min{
    height: 30px;
    width: 30px;
    border: 1px solid blue;
    padding: 0;
}

.min > ._vstickynotecard-body {
    display: none;
}

input:focus{
    outline: none;
    border: none;
}