#main {
    height: 100%;
    width: 100%;
    z-index: 40000;
    position: relative;
}

.card{
    position: absolute;
    height: 120px;
    width: auto;
}

.card-body{
    border-left: 5px solid blue;
}

input{
    border: none;
    outline: none;
}

.min{
    height: 30px;
    width: 30px;
    border: none;
}

.min > .card-body {
    display: none;
}

input:focus{
    outline: none;
    border: none;
}